MD_libraries/*
MD_fortran_input/*
MooringTest/*
Mooring/*
.DS_Store
developing/
.vscode/
*.png
*.out
*.log
*.txt
outdated_scripts/
outputs/*
saved_outputs/*
test_cases/*
rod_inertia.py
moorpy_driver.py

